{% include 'instructor/verification/00.md' %}

{% include 'instructor/verification/01.md' %}

{% include 'instructor/verification/02.md' %}

{% include 'instructor/verification/03.md' %}
